{% extends '@RdAuthentication/layout.html.twig' %}
{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center">Create password</h3>
                    {{ form_start(form) }}
                    <p>Password</p>
                    <span class="error">{{ form_errors(form.plainPassword.first) }}</span>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        {{ form_widget(form.plainPassword.first, {'attr': {'class' : 'form-control'}}) }}
                    </div>
                    <p>Verify password</p>
                    <span class="error">{{ form_errors(form.plainPassword.second) }}</span>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        {{ form_widget(form.plainPassword.second, {'attr': {'class' : 'form-control'}}) }}
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary px-4">Confirm</button>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
